In [1]:
#Fist of we will upload our data, which is taken from kaggle and load it to Hadoop

#for uploading the data we will use data ingestion

#Step 1: First of of we will ge the data from kaggle by using curl command
#1: Make a new directory as olist by using mkdir olist
#2: Now by using curl command for dumping the data to using olist directory
# curl -L -o ~/olist/brazilian-ecommerce.zip\
#  https://www.kaggle.com/api/v1/datasets/download/olistbr/brazilian-ecommerce

#step 2: Now we will put this data to hadoop master cluster 
# we can use folllowing command hdfs fs -put /olist/

#Step3: Create another directory as data fro unzipping the zip file
#unzip brazalian-ecommerce.zip -d ~/olist/data/

# Step 4: Now put data to hadoop cluster
# first create a diresctory by hdfs dfs -mkdir/data
# hdfs dfs -mkdir/data/olist/

# Data Ingestion
# hadoop fs -put ~/olist/data/*.csv /data/olist/

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
.appName("E-commerce data analysis")\
.getOrCreate()

25/06/12 06:40:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
spark

In [4]:
!hadoop fs -ls /data/olist/

Found 9 items
-rw-r--r--   2 niteshsoni30 hadoop    9033957 2025-06-11 15:34 /data/olist/olist_customers_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop   61273883 2025-06-11 15:34 /data/olist/olist_geolocation_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop   15438671 2025-06-11 15:34 /data/olist/olist_order_items_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop    5777138 2025-06-11 15:34 /data/olist/olist_order_payments_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop   14451670 2025-06-11 15:34 /data/olist/olist_order_reviews_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop   17654914 2025-06-11 15:34 /data/olist/olist_orders_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop    2379446 2025-06-11 15:34 /data/olist/olist_products_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop     174703 2025-06-11 15:34 /data/olist/olist_sellers_dataset.csv
-rw-r--r--   2 niteshsoni30 hadoop       2613 2025-06-11 15:34 /data/olist/product_category_name_translation.csv

In [5]:
hdfs_path = "/data/olist/"

In [6]:
customers_df = spark.read.csv(hdfs_path + "olist_customers_dataset.csv", header = True, inferSchema= True)

In [7]:
customers_df.show(5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                    9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                    1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                    8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

In [8]:
product_category_df = spark.read.csv(hdfs_path + "product_category_name_translation.csv", header = True, inferSchema= True)
geolocation_df = spark.read.csv(hdfs_path + "olist_geolocation_dataset.csv", header = True, inferSchema= True)
order_items_df = spark.read.csv(hdfs_path + "olist_order_items_dataset.csv", header = True, inferSchema= True)
payments_df = spark.read.csv(hdfs_path + "olist_order_payments_dataset.csv", header = True, inferSchema= True)
reviews_df = spark.read.csv(hdfs_path + "olist_order_reviews_dataset.csv", header = True, inferSchema= True)
orders_df = spark.read.csv(hdfs_path + "olist_orders_dataset.csv", header = True, inferSchema= True)
sellers_df = spark.read.csv(hdfs_path + "olist_sellers_dataset.csv", header = True, inferSchema= True)
products_df = spark.read.csv(hdfs_path + "olist_products_dataset.csv", header = True, inferSchema= True)

In [9]:
customers_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [10]:
#Data Leakage or drop

print(f'cuatomers : {customers_df.count()} rows')

cuatomers : 99441 rows

In [11]:
#null or duplicate values

from pyspark.sql.functions import col

customers_df.select([col(c).isNull().alias(c) for c in customers_df.columns]).show()

+-----------+------------------+------------------------+-------------+--------------+
|customer_id|customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+-----------+------------------+------------------------+-------------+--------------+
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
|      false|             false|                   false|        false|         false|
+-----------+------------------+------------------------+-------------+--------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import col, when, count

customers_df.select([count(when(col(c).isNull(), 1)).alias(c) for c in customers_df.columns]).show()

+-----------+------------------+------------------------+-------------+--------------+
|customer_id|customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+-----------+------------------+------------------------+-------------+--------------+
|          0|                 0|                       0|            0|             0|
+-----------+------------------+------------------------+-------------+--------------+

In [13]:
# Duplicate Values

customers_df.groupby("customer_id").count().filter("count>1").show()

# As we can observe that there is no duplicatee value present in out dataset

+-----------+-----+
|customer_id|count|
+-----------+-----+
+-----------+-----+

In [14]:
# Customer Distribution by sales data

customers_df.groupby("customer_state").count().orderBy("count",ascending= False).show()

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            SP|41746|
|            RJ|12852|
|            MG|11635|
|            RS| 5466|
|            PR| 5045|
|            SC| 3637|
|            BA| 3380|
|            DF| 2140|
|            ES| 2033|
|            GO| 2020|
|            PE| 1652|
|            CE| 1336|
|            PA|  975|
|            MT|  907|
|            MA|  747|
|            MS|  715|
|            PB|  536|
|            PI|  495|
|            RN|  485|
|            AL|  413|
+--------------+-----+
only showing top 20 rows

In [15]:
# ORDER DATA: Order Status Distribution

orders_df.groupBy("order_status").count().orderBy("count", ascending= False).show()

+------------+-----+
|order_status|count|
+------------+-----+
|   delivered|96478|
|     shipped| 1107|
|    canceled|  625|
| unavailable|  609|
|    invoiced|  314|
|  processing|  301|
|     created|    5|
|    approved|    2|
+------------+-----+

In [16]:
 # Payments
    
payments_df.show(5)

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 5 rows

In [17]:
# Payment Distribution

payments_df.groupBy("payment_type").count().orderBy("count", ascending=False).show()

+------------+-----+
|payment_type|count|
+------------+-----+
| credit_card|76795|
|      boleto|19784|
|     voucher| 5775|
|  debit_card| 1529|
| not_defined|    3|
+------------+-----+

In [18]:
order_items_df.show(5)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

In [19]:
# Top Selling Product
from pyspark.sql.functions import sum

top_products = order_items_df.groupBy("product_id").agg(sum("price").alias("total sales"))
top_products.orderBy("total sales",ascending= False).show()

+--------------------+------------------+
|          product_id|       total sales|
+--------------------+------------------+
|bb50f2e236e5eea01...|           63885.0|
|6cdd53843498f9289...| 54730.20000000005|
|d6160fb7873f18409...|48899.340000000004|
|d1c427060a0f73f6b...| 47214.51000000006|
|99a4788cb24856965...|43025.560000000085|
|3dd2a17168ec895c7...| 41082.60000000005|
|25c38557cf793876c...| 38907.32000000001|
|5f504b3a1c75b73d6...|37733.899999999994|
|53b36df67ebb7c415...| 37683.42000000001|
|aca2eb7d00ea1a7b8...| 37608.90000000007|
|e0d64dcfaa3b6db5c...|          31786.82|
|d285360f29ac7fd97...|31623.809999999983|
|7a10781637204d8d1...|           30467.5|
|f1c7f353075ce59d8...|          29997.36|
|f819f0c84a64f02d3...|29024.479999999996|
|588531f8ec37e7d5f...|28291.989999999998|
|422879e10f4668299...|26577.219999999972|
|16c4e87b98a9370a9...|           25034.0|
|5a848e4ab52fd5445...|24229.029999999962|
|a62e25e09e05e6faf...|           24051.0|
+--------------------+------------------+
only showing top 20 rows

In [20]:
# Average Delivert Time Analysis

orders_df.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [24]:
delivery_df = orders_df.select('order_id','order_purchase_timestamp','order_delivered_customer_date')

In [25]:
from pyspark.sql.functions import datediff,to_date,col,expr

delivery_detail_df = delivery_df.withColumn("delivery_time", datediff(col("order_delivered_customer_date"),col("order_purchase_timestamp")))

In [27]:
delivery_detail_df.orderBy("delivery_time",ascending=False).show(10)

+--------------------+------------------------+-----------------------------+-------------+
|            order_id|order_purchase_timestamp|order_delivered_customer_date|delivery_time|
+--------------------+------------------------+-----------------------------+-------------+
|ca07593549f1816d2...|     2017-02-21 23:31:27|          2017-09-19 14:36:39|          210|
|1b3190b2dfa9d789e...|     2018-02-23 14:57:35|          2018-09-19 23:24:07|          208|
|440d0d17af552815d...|     2017-03-07 23:59:51|          2017-09-19 15:12:50|          196|
|2fb597c2f772eca01...|     2017-03-08 18:09:02|          2017-09-19 14:33:17|          195|
|285ab9426d6982034...|     2017-03-08 22:47:40|          2017-09-19 14:00:04|          195|
|0f4519c5f1c541dde...|     2017-03-09 13:26:57|          2017-09-19 14:38:21|          194|
|47b40429ed8cce3ae...|     2018-01-03 09:44:01|          2018-07-13 20:51:31|          191|
|2fe324febf907e3ea...|     2017-03-13 20:17:10|          2017-09-19 17:00:07|          190|
|2d7561026d542c8db...|     2017-03-15 11:24:27|          2017-09-19 14:38:18|          188|
|c27815f7e3dd0b926...|     2017-03-15 23:23:17|          2017-09-19 17:14:25|          188|
+--------------------+------------------------+-----------------------------+-------------+
only showing top 10 rows

In [28]:
spark.stop()